<!DOCTYPE html>
<html lang="{{@site.locale}}"{{#match @custom.color_scheme "Dark"}} class="dark-mode"{{else match @custom.color_scheme "Auto"}} class="auto-color"{{/match}} >
<head>

    {{!-- Basic meta - advanced meta is output with {ghost_head} below --}}
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Theme assets - use the {asset} helper to reference styles & scripts,
    this will take care of caching and cache-busting automatically --}}
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    {{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings,
    it should always be the last tag before the closing head tag --}}
    {{ghost_head}}
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: 8rem;
            padding: 10px;
        }
        .grid-item {
            padding: 20px;
            font-size: 1.6rem;
            text-align: start;
        }
        .cms-container{
            height: 100%;
            width: 100%;
        }
        .footer{
            background-color: #21262c!important;
        }
        .footer-inner{
            padding-top: 8rem;
        }
        .footer .grid-item{
            padding: 0rem 1.5rem;
        }
        .footer-logo{
            margin-bottom: 2rem;
        }
        .grid-container li a {
            font-size: 1.6rem;
            text-decoration: none;
            color:#cacaca!important
        }
        .grid-container .learn-more .nav{
            display: block;
        }
        .get-in-touch a{
            text-decoration: none;
            color: white;
        }
        .get-in-touch a:hover{
            text-decoration: underline;
            color: blue;
        }

 
 
        @media (min-width: 576px) { 
            .cms-container{
                padding: 0;
                margin-left: auto;
                margin-right: auto;
                max-width: 540px;
            }
            .grid-container {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
         }

        @media (min-width: 768px) { 
            .cms-container{
                max-width: 720px;
            }
         }

        @media (min-width: 992px) { 
            .cms-container{
                height: 100%;
                width: 100%;
            }
            .grid-container {
                grid-template-columns: repeat(4, minmax(0, 1fr));
            }
         }

        @media (min-width: 1200px) { 
            .cms-container{
                max-width: 1140px;
            }
         }

        @media (min-width: 1400px) { 
            .cms-container{
                max-width: 1320px;
            }
         }
    </style>

</head>
<body class="{{body_class}} is-head-{{#match @custom.navigation_layout "Logo on cover"}}left-logo{{else match @custom.navigation_layout "Logo in the middle"}}middle-logo{{else}}stacked{{/match}}{{#match @custom.title_font "=" "Elegant serif"}} has-serif-title{{/match}}{{#match @custom.body_font "=" "Modern sans-serif"}} has-sans-body{{/match}}{{#if @custom.show_publication_cover}} has-cover{{/if}}" style="background:#f6f7f9!important">
<div class="viewport">

    <header id="gh-hea" class="w-full header">
        <div class="header-container">
            <div class="nav-wraper">
                <div class="gh-head-bran log-for-small-screen ">
                    <a class="gh-head-logo{{#unless @site.logo}} no-image{{/unless}}" href="{{@site.url}} ">
                        {{#if @site.logo}}
                            <img src="{{@site.logo}}" alt="{{@site.title}}">
                        {{else}}
                            {{@site.title}}
                        {{/if}}
                    </a>
                    <div class="flex lg:hidden items-center">   
                        <button id="hamburger-menu" class="hamburger-menu" >
                            <span></span>
                        </button>
                    </div>
                </div>
                <div class="navigation-link-wraper hide-sidebar">
                        <a class="sidebar-logo" href="{{@site.url}} ">
                            {{#if @site.logo}}
                                <img src="https://res.cloudinary.com/cdmnk/image/upload/f_auto,q_85/v1639476272/assets/images/brands/jeryqxjgicup4atwuyv8.png" alt="{{@site.title}}">
                            {{else}}
                                {{@site.title}}
                            {{/if}}
                        </a>
                        {{navigation}}
                        <button id="close-btn" class="absolute lg:hidden top-4 right-4">cross</button>
                </div>
            </div>
        </div>  
    </header>


    <div class="site-content pages">
        {{!-- All other templates get inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}
    </div>

    {{!-- The global footer at the very bottom of the screen --}}
    <footer class=" footer text-white"  style="color:#cacaca!important">
        <div class="container footer-inner ">
            <div class="grid-container">
            <div class="grid-item">
                <div  style="margin-bottom: 2rem;">
                    <a class="footer-logo" href="{{@site.url}} ">
                        {{#if @site.logo}}
                            <img src="https://res.cloudinary.com/cdmnk/image/upload/f_auto,q_85/v1639476272/assets/images/brands/jeryqxjgicup4atwuyv8.png" alt="{{@site.title}}" style="width: 200px;">
                        {{else}}
                            {{@site.title}}
                        {{/if}}                            
                    </a>
                </div>
                <span>A full-fledged product design and engineering services firm.</span>
            </div>
            <div class="grid-item learn-more">
                <h5 class="font-normal text-white text-4xl " style="margin-bottom: 2rem;">Learn More</h5>
                {{navigation}}
            </div>
            <div class="grid-item get-in-touch">
                <h5 class="font-normal text-white text-4xl" style="margin-bottom: 2rem;">Get in Touch</h5>   
                <div>Hustlehub Tech Park, #36/5, Somasandrapalya, Sector 2, adjacent 27th Main Road, HSR Layout, Bengaluru, Karnataka 560102</div>
                <div class="my-2">
                    <a href="#" >info@codemonk.in</a>
                </div>
                <div class="my-2">
                    <a href="#">+91 70197 97401</a>
                </div>
            </div>
            <div class="grid-item">
                <h5 class="font-normal text-white text-4xl" style="margin-bottom: 2.1rem;">Visit us</h5>
                <nav class="nav social social-white flex flex-wrap gap-4">
                    <a class="mt-2" href="https://www.linkedin.com/company/codemonk/" target="_blank" style="text-decoration: none">
                        <img id="footer_icons" style="background-color: white; border-radius: 50px" src="https://res.cloudinary.com/cdmnk/image/upload/f_auto,q_75/v1650976544/assets/images/icons/linkedin-icon.svg" alt="Linkedin" width="30">
                    </a>
                    
                    <a class="mt-2" href="https://twitter.com/codemonkhq" target="_blank" style="text-decoration: none">
                        <img id="footer_icons" style="background-color: white; border-radius: 50px" src="https://res.cloudinary.com/cdmnk/image/upload/f_auto,q_75/v1658300623/assets/images/icons/twitter-icon.svg" alt="Twitter" width="30">
                    </a>
                    
                    <a class="mt-2" href="https://www.instagram.com/codemonkhq/" target="_blank" style="text-decoration: none">
                        <img id="footer_icons" style="background-color: white; border-radius: 50px" src="https://res.cloudinary.com/cdmnk/image/upload/f_auto,q_75/v1658300623/assets/images/icons/instagram-icon.svg" alt="Instagram" width="30">
                    </a>
                    
                    <a class="mt-2" href="https://www.youtube.com/channel/UCcj5uByXG_kESiMlmrfdFVg" target="_blank" style="text-decoration: none">
                        <img id="footer_icons" style="background-color: white; border-radius: 50px" src="https://res.cloudinary.com/cdmnk/image/upload/f_auto,q_75/v1658300623/assets/images/icons/youtube-icon.svg" alt="Youtube" width="30">
                    </a>
                    
                    <a class="mt-2" href="https://www.behance.net/codemonkhq" target="_blank" style="text-decoration: none">
                        <img id="footer_icons" style="background-color: white; border-radius: 50px" src="https://res.cloudinary.com/cdmnk/image/upload/f_auto,q_75/v1650976510/assets/images/icons/behance-icon.svg" alt="Behance" width="30">
                    </a>
                    
                    <a class="mt-2" href="https://medium.com/codemonkhq" target="_blank" style="text-decoration: none">
                        <img id="footer_icons" style="background-color: white; border-radius: 50px" src="https://res.cloudinary.com/cdmnk/image/upload/f_auto,q_75/v1650976571/assets/images/icons/medium-icon.svg" alt="Medium" width="30">
                    </a>
                    
                    <a class="mt-2" href="https://angel.co/company/codemonkhq" target="_blank" style="text-decoration: none">
                        <img id="footer_icons" style="background-color: white; border-radius: 50px" src="https://res.cloudinary.com/cdmnk/image/upload/f_auto,q_75/v1650976449/assets/images/icons/angellist-icon.svg" alt="Angellist" width="30">
                    </a>
                </nav>
            </div>
            </div>
            <div class="text-center pt-10 pb-5 d-flex flex-row justify-content-center text-white">
                <p style="font-size: 10px" class="m-0">© 2018 - {{date format= "YYYY"}} Codemonk | An</p>
                &nbsp;
                <p style="font-size: 10px" class="m-0">
                <a href="https://elvago.io/" target="_blank" style="text-decoration: none;color: white;margin: 0rem 0.5rem ;"> Elvago Technologies </a>
                </p>
                &nbsp;
                <p style="font-size: 10px" class="m-0">Company</p>
            </div>
            
        </div>
        
    </footer>

</div>
{{!-- /.viewport --}}


{{!-- Scripts - handle member signups, responsive videos, infinite scroll, floating headers, and galleries --}}
<script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous">
</script>
<script src="{{asset "built/casper.js"}}"></script>
<script>
$(document).ready(function () {
    // Mobile Menu Trigger
    $('.gh-burger').click(function () {
        $('body').toggleClass('gh-head-open');
    });
    // FitVids - Makes video embeds responsive
    $(".gh-content").fitVids();
});

//header script
document.getElementById("close-btn").addEventListener('click',function (){
    console.log("clicked on the btn");
    let navigationLinkWraper =document.getElementsByClassName("navigation-link-wraper")[0];

    //if(navigationLinkWraper.classList.add)
    navigationLinkWraper.classList.add("hide-sidebar")
    console.log(navigationLinkWraper)
})

document.getElementById("hamburger-menu").addEventListener('click',function (){
    let navigationLinkWraper =document.getElementsByClassName("navigation-link-wraper")[0];
    let hamburgerMenuButton=document.getElementById("hamburger-menu")
    if(navigationLinkWraper.classList.contains("hide-sidebar")){ // we need to show sidebar
        navigationLinkWraper.classList.remove("hide-sidebar");
        navigationLinkWraper.classList.add("show-sidebar");
        
        hamburgerMenuButton.classList.add("active");

    }else{ //we need to hide sidebar 
        navigationLinkWraper.classList.add("hide-sidebar")
        navigationLinkWraper.classList.remove("show-sidebar");

        // we need to make hamburger menu as cross icon
        

        hamburgerMenuButton.classList.remove("active");
    }
})
</script>

{{!-- Ghost outputs required functional scripts with this tag - it should always be the last thing before the closing body tag --}}
{{ghost_foot}}

</body>
</html>
